.background{
    -fx-background-color:  #cccc;
}

.backgroundImp{
    -fx-background-color:  WHITE;
    -fx-background-radius: 10;
}

.tableNoPagato{
    -fx-background-color: #FDFF96;
}

.tablePagato{
    -fx-background-color: #bcffaa;
}